/*Colores*/
.blanco{
    color: white;
}
.verde{
    color: #00C49E;
}
.negro{
    color: black;
}
.gris{
    color: #808080;
}
.naranja{
    color: #FF9700;
}
/*Componentes*/
.imagecarr{
    width: 100%;
    height: 500px;
}
div.sombreado-g{
    background: linear-gradient(to bottom, rgb(112, 112, 112), #ffffff00); 
    height: 20px;
}
div.sombreado-c{
    background: linear-gradient(to bottom, rgb(112, 112, 112), #ffffff00); 
    height: 12px;
}
body{
    background-image: url(../images/background.jpg);
    background-size: cover;
}
.ban{
    text-align: center;
    background-color: #00C49E;
}
.medd{
    width: 50px;
    height: auto;
    text-align: center;
}